global:
  edition: ce
  hosts:
    domain: gitlab.local
  ingress:
    enabled: false

certmanager:
  install: false

nginx-ingress:
  enabled: false

prometheus:
  install: false

gitlab-runner:
  install: false

postgresql:
  install: true

redis:
  install: false
